%h1.header.center.orange-text= @hero.name

.row.center= render "heros/profile", hero: @hero

.row.center
  .col.s6
    %h5 Les victoires de ce héro
    - @hero.wins.each do |win|
      %p= link_to "Contre #{win.loser.name}", fight_path(win)

  .col.s6
    %h5 Les défaites de ce héro
    - @hero.losses.each do |loss|
      %p= link_to "Contre #{loss.winner.name}", fight_path(loss)
