%h1.header.center.orange-text Arène des combats

.row.center
  %h4.header.col.s12.light Seuls les plus intrépides oseront entrer dans l'Arène.

- if @heroes_by_rank.present?

  .row.center
    %h5.col.s12 Faire un combat :
    - @heroes_by_rank.keys.each do |rank|
      .col.s2
        = link_to "Rang #{rank}", new_fight_path(rank)

  .row.center
    %h5.col.s12 Les #{@limit} derniers héros par rang
    - @heroes_by_rank.each do |rank, heroes|
      .col.s3
        %h6= "Rang #{rank}"
        - heroes.each do |hero|
          %p= link_to hero.name, hero_path(hero)
